@model Ecommerce.Models.ShippingDetails
@{
    ViewBag.Title = "Checkout";
}

<style>
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Customer Shipping information</h2>
            <p>Please Enter your shipping details</p>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-6">
                        <span class="badge-danger">
                            @User.Identity.Name
                        </span>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Province</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.Province, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Postal Code</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(x => x.PostalCode, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

